<div class="container">
  <div class="row">
    <div class="col m10 offset-m1">
      <div class="card">
        <div class="card-tabs">
          <ul class="tabs tabs-fixed-width">
            <li class="tab"><a href="#tab-all" class="active">ALL</a></li>
            <li class="tab"><a href="#tab-individual">INDIVIDUAL</a></li>
          </ul>
        </div>
        <div class="card-content">
          
          <div id="tab-all">
            <app-all></app-all>
          </div>
          <div id="tab-individual">
            <app-individual></app-individual>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
