<nav class="purple">
  <div class="nav-wrapper container">
    <a class="brand-logo left" href="#" routerLink="/forms">
      <i class="material-icons">text_snippet</i>
      Rails 101 Forms
    </a>
    <ul class="right">
      <div *ngIf="!tokenService.userSignedIn()">            
        <li><a href="#" routerLink="/login">Login</a></li>
        <li><a href="#" routerLink="/register">Register</a></li>      
      </div>
      <div *ngIf="tokenService.userSignedIn()">            
        <li><a href="#" routerLink="" (click)="signOut()">Logout</a></li>          
      </div>
    </ul>
  </div>
</nav>
