<div class="home">
  <div class="container">
    <div class="center-align row">
      <div class="col m10 s12 offset-s0 offset-m1">
        <h4 class="title purple-text">SMART ESSENTIAL DATA COLLECTION</h4>
      </div>
      <div class="col m10 s12 offset-s0 offset-m1">
        <h5 class="subtitle white-text">
            With OneBitForms customizable Forms, it's easy to collect valuable information from your customers quickly and free
        </h5>
        <a class="btn purple lighten-1 btn-large btn-forms" href="#" routerLink="/forms">
            Create your form now
        </a>
      </div>
    </div>
  </div>
</div>
